.page-header
  %h1= 'Tab Edit'
%form{:role => 'form', :method => 'post', :action => './save'}
  - @tab.each do |t|
    .form-inline
      .form-group
        %input.form-control{:name => 'label[]', :type => 'text', :value => t.name}
      .form-group
        %input.form-control{:name => 'address[]', :type => 'text', :value => t.href}
  .form-group
    %button.btn.btn-default{:type => 'submit', :value => 'save'}= 'Save'
%form.form-inline{:role => 'form', :method => 'post', :action => './new', :style =>'margin-top:30px;'}
  %label= 'Add tab'
  .form-group
    %input.form-control{:name => 'label', :type => 'text', :placeholder => "label"}
  .form-group
    %input.form-control{:name => 'address', :type => 'text', :placeholder => "address"}
  .form-group
    %button.btn.btn-default{:type => 'submit', :value => 'add'}= 'Add'