body {
    overflow-y:scroll;
}

.panel-heading h1,
.panel-heading h2,
.panel-heading h3 {
    margin-top:10px;
    margin-bottom:10px;
}

.panel-body ul,
.panel-body ol {
    margin-top:0px;
    margin-bottom:0px;
}

.page-footer {
    padding-top: 40px;
    padding-bottom: 30px;
    margin-top: 50px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.blog-entry {
    margin-top: 60px;
    margin-bottom: 30px;
}

.entry-title {
    color: #333333;
}

.comment-area {
    margin-top: 60px;
}

.title-header {
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: darkcyan;
    color: white;
}

.title-header h1 {
    font-size: 50px;
}

.title-header small {
    color: #eeeeee;
}

.tab {
    padding-top: 20px;
    border: 1px solid darkcyan;
    background-color: darkcyan;
}

.tab ul {
    border-bottom: 0px;
}

.nav-tabs > li > a {
    color: white;
}

.nav-tabs > li > a:hover {
    background-color: #00b3b3;
    border-color: #00b3b3;
    border-bottom-color: transparent;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus {
    border-color: darkcyan;
    border-bottom-color: transparent;
}

.badge {
    background-color: darkcyan;
}