.page-footer {
    padding-top: 40px;
    padding-bottom: 30px;
    margin-top: 50px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

h1 a{
    color: #333;
}

.blog-entry{
    margin-top: 30px;
    margin-bottom: 40px;
}