#header{
  background-image: url("../image/bluesky-line.png");
  background-position: top left;
}

body{
  background-image: url("../image/background/natural_paper.png");
  /*background-color: #e4e8fb;/*#eaeeff;*/
  repeat: repeat;
  /*background-attachment: fixed;*/
  font-size: 18px;
}

#footer{
  background-color: #5290ed;
  background-position: bottom left;
  height: 40px;
  color: #FFFFFF;
  text-align : center;
  margin-top: 20px;
}

.tab {
  padding-top: 20px;
  border: 1px solid #5290ed;
  background-color: #5290ed;
  margin-bottom: 40px;
}

.tab ul {
  border-bottom: 0px;
}

.nav-tabs > li > a {
  color: white;
}

.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus,
.nav .open > a:hover,
.nav .open > a:focus {
  background-color: #91b8f2;
  border-color: #91b8f2;
  border-bottom-color: transparent;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus {
  /*background-color: #e4e8fb;*/
  border-color: #5290ed;
  border-bottom-color: transparent;
}

.panel{
  border-color: #5290ed;
  -webkit-box-shadow: 0 10px 6px -6px #777;
     -moz-box-shadow: 0 10px 6px -6px #777;
          box-shadow: 0 10px 6px -6px #777;
}

img {
  max-width: 100%;
}

.panel-blue{
  background-color: #5290ed;
  border-color: #5290ed;
  color: #FFFFFF;
  padding: 10px;
}

.panel-heading {
  background-color: #5290ed;
  border-color: #5290ed;
  color: #FFFFFF;
}

.strong {
  color: #fcc66e;
}

.image img{
  max-width: 280px;
  max-height: 210px;
  margin-left : auto;
  margin-right : auto;
  text-align : left;
}

.thuimg {
  overflow: hidden;
}

.thuimg > img {
  width: 100%;
}

div.indent{
  padding-left: 40px;
}

i {
  font-size:16px;
}

.caption > * {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.thumbnail{
  -webkit-box-shadow: 0 10px 6px -6px #777;
     -moz-box-shadow: 0 10px 6px -6px #777;
          box-shadow: 0 10px 6px -6px #777;
}
