#header{
	background-image: url("../image/bluesky-line.png");
	background-position: top left;
	height: 200px;
}
/*
.page{
	margin-left: 50px;
	margin-right: 50px;
	position: absolute;
}
*/

.image img{
	max-width: 200px;
	max-height: 150px;
	margin-left : auto;
	margin-right : auto;
	text-align : left;
}

.imageFrame{
	width: 200px;
	height: 150px;
	margin-left : auto;
	text-align : center;
}

.box{
	display: inline-block;
	width: 200px;
	height: 200px;
	background-color: #e3d7a3;
	margin: 5px;
}

.textbox{
	background-color: #428bca;
	width: 200px;
	height: 50px;
}

.title2{
	font-size: 16px;
	color: #FFFFFF;
	position: absolute;
	margin: 3px;
	width: 190px;
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    -moz-text-overflow:ellipsis; /* Firefox */
    -o-text-overflow: ellipsis; /* Opera */
}

.contain {
	display: inline-block;
	background-color: #FFFFFF;
	background-position: center center;
	background-repeat: no-repeat;
	margin: 5px;
	width: 200px;
	height: 200px;
	background-size: contain;
	border: solid 2px #d3d3d3;
	border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}

.title {
	font-size: 16px;
	color: #000000;
	text-align: center;
}

.titleback {
	height: 17px;
	position: static;
	background-color: #000000;
	opacity: 0.8;
	border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}
