#header{
	background-image: url("../image/bluesky-line.png");
	background-position: top left;
	height: 80px;
}

.tab {
    padding-top: 20px;
    border: 1px solid #5290ed;
    background-color: #5290ed;
    margin-bottom: 20px;
}

.tab ul {
    border-bottom: 0px;
}

.nav-tabs > li > a {
    color: white;
}

.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus,
.nav .open > a:hover,
.nav .open > a:focus {
    background-color: #91b8f2;
    border-color: #91b8f2;
    border-bottom-color: transparent;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,{
    border-color: #5290ed;
    border-bottom-color: transparent;
}

.panel{
	border-color: #5290ed;
}

.panel-heading {
	background-color: #5290ed;
	border-color: #5290ed;
	color: #FFFFFF;
}

.image img{
	max-width: 280px;
	max-height: 210px;
	margin-left : auto;
	margin-right : auto;
	text-align : left;
}

.imageFrame{
	width: 280px;
	height: 210px;
	margin-left : auto;
	text-align : center;
}

.box{
	display: inline-block;
	width: 280px;
	height: 280px;
	background-color: #e3d7a3;
	margin: 6px;
	/*border-style: solid;
	border-width: thin;
	border-color: #1c59b5;*/
}

a:hover .box{
	opacity:0.6;
}

.textbox{
	background-color: #428bca;
	width: 280px;
	height: 70px;
	padding: 3px;
	padding-left: 6px;
}

.title2{
	font-size: 20px;
	color: #FFFFFF;
	position: absolute;
	width: 270px;
	overflow: hidden;
    /*white-space: nowrap;*/
    /*text-overflow: ellipsis;
    -moz-text-overflow:ellipsis; /* Firefox */
    /*-o-text-overflow: ellipsis; /* Opera */
}

.contain {
	display: inline-block;
	background-color: #FFFFFF;
	background-position: center center;
	background-repeat: no-repeat;
	margin: 5px;
	width: 200px;
	height: 200px;
	background-size: contain;
	border: solid 2px #d3d3d3;
	border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}

.title {
	font-size: 16px;
	color: #000000;
	text-align: center;
}

.titleback {
	height: 17px;
	position: static;
	background-color: #000000;
	opacity: 0.8;
	border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}

.thuimg {
	overflow: hidden;
}

.thuimg > img {
	width: 100%;
}
