<div class="panel">
  <div class="panel-heading"><h1><span class="strong">リ</span>ンク集</h1></div>
  <div class="panel-body">

    <div class="col-md-6">
      <div class="page-header">
        <h1>学内</h1>
      </div>
      <p><a href="http://www.ibaraki-ct.ac.jp/" target="_blank">茨城工業高等専門学校</a></p>
      <p><a href="http://www.ibaraki-ct.ac.jp/stu/PC/index.html" target="_blank">茨城高専学生会Web</a></p>
    </div><!-- col-md-6 -->

    <div class="col-md-6">
      <div class="page-header">
        <h1>参加大会</h1>
      </div>
      <p><a href="http://www.ibaraki-ct.ac.jp/" target="_blank"><img src="/image/banner/procon.gif" alt="高専プロコン"></a></p>
      <p><a href="http://www.ibaraki-ct.ac.jp/stu/PC/index.html" target="_blank"><img src="/image/banner/pckoshien.jpg" alt="パソコン甲子園"></a></p>
    </div><!-- col-md-6 -->

    <div class="col-md-6">
      <div class="page-header">
        <h1>利用素材</h1>
      </div>
      <p><a href="http://subtlepatterns.com/about/" target="_blank">Subtle Patterns</a>　- サイト背景用パターン<br /><small>CC BY-SA 3.0 - Subtle Patterns (C) Atle Mo.</small></p>
    </div><!-- col-md-6 -->

  </div><!-- panel-body -->
</div><!-- panel -->
